src/*.exe
src/marvelous
src/marvelousd
src/test_marvelous
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.marvelous

# Compilation and Qt preprocessor part
*.qm
Makefile
marvelous-qt
Marvelous-Qt.app

# Unit-tests
Makefile.test
marvelous-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
